################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/ePlusPlus/v15
/.vs
/epp.commonlib/Debug
/epp.commonlib/Release
