################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/ePlusPlus/v15
/.vs
/EPP.CommonLib/Debug
/EPP.CommonLib/Release
/EPP.CommonLib.tests/Debug
/EPP.CommonLib.tests/Release
/Debug
/Release
/EPP.CommonLib/x64
/EPP.CommonLib.Tests/x64
/x64
/TestResults
